# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
.vscode

# control data
control

# output files
output/processedData/*
!output/processedData/.gitkeep

output/plots/*
!output/plots/.gitkeep

output/ptTables/*
!output/ptTables/.gitkeep

users/*
!users/.gitkeep

# input data
simConfig.ini
src/LBL2023_with_comments.f90
.DS_Store
test/simpleSpectra.dat
/test/calc
/src/mySpectra/calc
SPECTR*

# venv
venv/
.venv
*.par
app/voigtTable.f90
data/Atmospheres/VenusCO2_1level.dat
